<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
    <script th:src="@{js/jquery.js}" src="../../js/jquery.js"></script>
    <script th:src="@{js/jquery.mobile-1.4.5.min.js}" src="../../js/jquery.mobile-1.4.5.min.js"></script>
    <script th:src="@{js/sample.js}" src="../../js/sample.js"></script>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="j_security_check" method="post">
    <div><label> User Name : <input type="text" id="username" name="j_username" /> </label></div>
    <div><label> Password: <input type="password" id="password" name="j_password"/> </label></div>
    <button id="login" value="login">Login</button>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>